body{
    background: #242731;
    overflow-x: hidden;
}

h1{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 77px;
    font-weight: 800;
    text-transform: uppercase;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}


/*  GLOBAL STYLES  */
.blue_text{
    color: #4252D1;
}
.red_text{
    color: #FF3459;
}
.underline_text{
    text-decoration: underline;
}


/*  HEADER  */
header{
    padding: 35px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 182px;
    height: 56px;
}

.header_cards_block{
    display: flex;
    gap: 20px;
}

.header_card{
    height: 40px;
    width: 140px;
    border-radius: 10px;
    background: #302E5A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header_card svg{
    height: 16px;
    width: 16px;
}
.header_card p{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: white;
}

/*  MAIN  */
main{
    padding: 75px 250px 30px;
}

.main_block{
    display: grid;
    grid-template-areas:
            "intro_block form_block"
            "info_block form_block";
    grid-template-columns: 6fr 4fr;
    gap: 50px 100px;
}

/*  INTRO BLOCK  */
.intro_block{
    grid-area: intro_block;
}
.intro_block h1{
    color: #FF3459;
}
.intro_block p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: white;
}

.webinar_button{
    height: fit-content;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #4252D1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.webinar_button svg{
    height: 20px;
    width: 20px;
}
.webinar_button p{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: white;
}

.from_scratch_block{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.from_scratch_block h4{
    margin: 0;
}

.from_scratch_block svg{
    height: 46px;
    width: 109px;
}
/*width="109" height="46"*/

/*  INFO BLOCK  */
.info_block{
    grid-area: info_block;
}

.info_block_item{
    padding-bottom: 30px;
    display: grid;
    grid-template-areas:
    "img title"
    "img text";
    grid-template-columns: 60px 1fr;
    gap: 4px 10px;
}
.info_block_item img{
    grid-area: img;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.info_block_item h5{
    grid-area: title;
    line-height: 16px;
    margin: 0;
}
.info_block_item p{
    grid-area: text;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: white;
}

/*  FORM BLOCK  */
.form_block{
    height: fit-content;
    grid-area: form_block;
    padding: 40px;
    border-radius: 10px;
    background-color: #303A53;
}
.form_block h4{
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}
.form_block button{
    width: 100%;
    padding: 13px 0;
    border: none;
    border-radius: 5px;
    background-color: #FF3459;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: white;
}
.form_block input{
    width: 100%;
    padding: 13px 20px;
    margin-bottom: 18px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #272D3D;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #D7D7D7;
}
.form_block p{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: gray;
    text-align: center;
}
/* Especially for phone library */
#phone {
    width: 100%;
    box-sizing: border-box;
}
.iti {
    width: 100%;
    margin-bottom: 18px;
}


/*  FOOTER BLOCK */
footer h1{
    width: 100%;
    opacity: 0.5;
    /*font-size: 8vw;*/
    font-size: 8.3vw;
    text-shadow:
            1px 1px 0 grey,
            -1px -1px 0 grey,
            1px -1px 0 grey,
            -1px 1px 0 grey;
    text-align: center;
    color: #242731;
}


/*   FREE POSITIONING ICONS AND GRADIENTS   */
.free_icons_block{
    height: auto;
    width: 160px;
    position: absolute;
    right: 2vw;
    top: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.free_icons_block div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.free_icons_block img{
    height: 75px;
    width: auto;
}

.rotate-left {
    transform: rotate(-20deg);
}

.rotate-right {
    transform: rotate(20deg);
}

#html_icon{
    height: 88px;
}
#css_icon{
    height: 85px;
}
#js_icon{
    height: 73px;
}
#sublime_icon{
    height: 54px;
}
#vs_code_icon{
    height: 61px;
}

#gradient_right {
    height: 850px;
    width: 850px;
    position: absolute;
    right: -200px;
    top: -170px;
    bottom: 0;
    z-index: -2;
    background: radial-gradient(circle at center,
    rgba(51, 47, 101, 0.9) 0%,
    rgba(51, 47, 101, 0.4) 45%,
    rgba(36, 39, 49, 0.4) 65%,
    rgba(36, 39, 49, 0) 100%
    );
    border-radius: 50%;
}

#gradient_left {
    height: 500px;
    width: 500px;
    position: absolute;
    left: -100px;
    top: -100px;
    bottom: 0;
    z-index: -2;
    background: radial-gradient(circle at center,
    rgba(51, 47, 101, 0.9) 0%,
    rgba(51, 47, 101, 0.4) 45%,
    rgba(36, 39, 49, 0.4) 65%,
    rgba(36, 39, 49, 0) 100%
    );
    border-radius: 50%;
}



/*  HEADER RESPONSIVE STYLES  */
@media screen and (max-width: 1100px) {
    header{
        padding: 35px 70px;
    }
}

@media screen and (max-width: 700px) {
    header{
        padding: 35px 50px;
    }
    .header_cards_block{
        gap: 10px;
    }
    .header_card{
        height: 36px;
        width: 120px;
    }
    #logo{
        width: 136px;
        height: 42px;
    }
}

@media screen and (max-width: 550px) {
    header{
        padding: 30px;
    }
    .header_card{
        height: 30px;
        width: 50px;
    }
    .header_card p{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    header{
        padding: 20px;
    }
    .header_card{
        height: 30px;
        width: 30px;
    }
}


/*  MAIN RESPONSIVE STYLES*/
@media screen and (max-width: 1375px) {
    .main_block{
        grid-template-columns: 1fr 1fr;
        gap: 50px 50px;
    }
    .intro_block h1{
        font-size: 50px;
    }
}


/*  MAIN RESPONSIVE STYLES*/
@media screen and (max-width: 1175px) {
    .intro_block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_block{
        grid-template-areas:
            "intro_block"
            "info_block"
            "form_block";
        grid-template-columns: 1fr;
        gap: 50px 100px;
    }
    .intro_block h1{
        font-size: 70px;
    }
    .intro_block p{
        text-align: center;
    }
    .from_scratch_block{
        justify-content: center;
    }
}

@media screen and (max-width: 975px) {
    main{
        padding: 75px 100px 30px;
    }
}

@media screen and (max-width: 650px) {
    main{
        padding: 75px 50px 30px;
    }
}

@media screen and (max-width: 650px) {
    .intro_block h1{
        font-size: 46px;
    }
    .intro_block p{
        font-size: 16px;
        line-height: 24px;
    }
    .webinar_button svg{
        height: 17px;
        width: 17px;
    }
    .webinar_button p{
        font-size: 14px;
        line-height: 14px;
    }
    .from_scratch_block svg{
        height: 30px;
        width: 72px;
        /*height: 35px;*/
        /*width: 82px;*/
    }
}

@media screen and (max-width: 530px) {
    .intro_block h4{
        font-size: 18px;
    }
}

@media screen and (max-width: 460px) {
    main{
        padding: 50px 20px 30px;
    }
    .form_block{
        padding: 10px 40px;
    }
    .form_block button{
        padding: 8px 0;
        font-size: 14px;
    }
    .form_block input{
        padding: 8px 20px;
    }
}

@media screen and (max-width: 420px) {
    .intro_block h4{
        font-size: 14px;
    }
}


@media screen and (max-width: 400px) {
    .form_block{
        height: fit-content;
        grid-area: form_block;
        padding: 10px 30px;
        border-radius: 10px;
        background-color: #303A53;
    }
}

@media screen and (max-width: 375px) {
    .form_block p{
        margin: 10px 0;
        font-size: 10px;
    }
    .form_block h4{
        font-size: 16px;
        margin: 10px 0;
    }
    .form_block button{
        padding: 4px 0;
        font-size: 12px;
    }
    .form_block input {
        padding: 4px 10px;
        margin-bottom: 8px;
    }
    .iti {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 375px) {
    .intro_block h1{
        font-size: 34px;
    }
    .webinar_button{
        padding: 4px 6px;
    }
}

@media screen and (max-width: 350px) {
    .from_scratch_block{
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .form_block input{
        font-size: 11px;
        font-weight: 200;

    }
}


